{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/homepage/about.css' %}">
{% endblock %}


{% block title %} Вход в аккаунт {% endblock %}

{% block content %}
    <h2> Вход в аккаунт </h2>
    <form method="post" action="/about/">
        {% csrf_token %}
        <p>
            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
            <p>{{ form.username }}</p>
        </p>
        <p>
            <label for="{{ form.password.id_for_label }}">Пароль</label>
            <p>{{ form.password }}</p>
        </p>
        <p><input type="submit" value="Войти" class="btn"></p>
    </form>
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <p><a href="#" onclick="this.closest('form').submit();" class="btn">Выйти</a></p>
    </form>

    <p><a href="{% url 'signup' %}" class="btn">Нет аккаунта?</a></p>
    <p><a href="{% url 'password_reset' %}" class="btn">Восстановить пароль</a></p>
    {% endblock %}